<div class="container">
    <h1>Angular ITVDN</h1>
    <h2>Angular 11.0 Базовый (2021)</h2>
    <main>
      <nav>
        <h3>Домашние задания</h3>
        <a routerLink="task2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">02 Начало работы с Angular. Синтаксис</a>
        <a routerLink="task3" routerLinkActive="active">03 События и датабайдинг</a>
        <a routerLink="task4" routerLinkActive="active">04 Директивы и пайпы</a>
      </nav>
      <div class="examples">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>